{{extend 'layout.html'}}
<h1>
    {{=QuestionName}}
</h1>
<hr>
    {{=QuestionText}}
<hr>
<h4 class="col-md-12">
    Submit answer
</h4>
<hr>
{{=form}}
<hr>
<div class="box sidebar_inner controls well well-small">
    <h4 class="box sidebar_inner controls well well-small">
        Current activity
    </h4>
    <table class="table" >
        <tr>
            <th>Problem</th>
            <th>Submission Time</th>
            <th>User</th>
            <th>Result</th>
        </tr>
        {{for row in logs:}}
        <tr>
            <td>{{=row.questionName}}</td>
            <td>{{=row.submissionTime}}</td>
            <td>{{=row.userID}}</td>
            <td>{{=row.submissionResult}}</td>
        </tr>
        {{pass}}
    </table>
</div>
