{{extend 'layout.html'}}
<h1 id="mediumtext">
        {{=cName}}
</h1>
<br>
<table class="table">
    <th></th>
    <th>
        Problem Name
    </th>
    <th>
         Successful/Attempted
    </th>
    <th>
        Attempt Problem
    </th>
    {{for row in rows:}}
    <tr><td></td>
        <td>
            {{=row.questionName}}
        </td>
        <td>
        </td>
        <td>
        <a href="{{=URL('challenges',args=[row.id,row.questionNumber])}}">
                    <div style="background-color: #B6B6B4;width: 30%;padding: 5px;border: 5px Black;margin: 5px; text-align:center ">
                        Solve Problem
                     </div>
                </a>
    </td>
    </tr>
    {{pass}}
</table>
<div class="box sidebar_inner controls well well-small">
    <h4 class="box sidebar_inner controls well well-small">
        Contest Leaderboard
    </h4>
    <table class="table" >
        <tr>
            <th>Problem</th>
            <th>Submission Time</th>
            <th>User</th>
            <th>Result</th>
        </tr>
        {{for log in logs:}}
        <tr>
            <td>{{=log.questionName}}</td>
            <td>{{=log.submissionTime}}</td>
            <td>{{=log.userID}}</td>
            <td>{{=log.submissionResult}}</td>
        </tr>
        {{pass}}
    </table>
</div>
