{{extend 'layout.html'}}

<br>    
<br>        
<div class="container col-lg-7 pull-left" style="letter-spacing: 2px;margin-left:5%" >
    <div class="panel panel-info" style="text-align: center"  >
        <div class="panel-heading lead text-uppercase" style="letter-spacing: 8px;">Running Contests</div>
        <div class="panel-body text-info">
            <table class="table table-striped" >
                <tr>
                    <td><b>Contest Name</b></td>
                    <td><b>End Date</b></td>
                    <td></td>
                </tr>
                {{for row in runningContests:}}
                <tr>
                    <td>{{=row.contestName}}</td>
                    <td>{{=row.startTime}}</td>
                    <td >
                        <div class="btn-default" style="height:100%; width:100%    ">
                        <a href="{{=URL('contestpage',args=row.id)}}" style="text-decoration: none;">Enter Contest</a>
                        </div>
                    </td>
                </tr>
                {{pass}}
            </table>
        </div>
    </div>
</div>

<div class="container col-md-4 pull-right" style="letter-spacing: 2px;" >
    <div class="panel panel-info" style="text-align: center"  >
        <div class="panel-heading lead text-uppercase" style="letter-spacing: 8px;">Upcoming Contests</div>
        <div class="panel-body text-info">
            <table class="table table-striped">
                <tr>
                    <td><b>Contest Name</b></td>
                    <td><b>Start Date</b></td>
                </tr>   
                {{for row in upcomingContest:}}
                <tr>
                    <td>{{=row.contestName}}</td>
                    <td>{{=row.startTime}}</td>
                </tr>
                {{pass}}
            </table>
        </div>
    </div>
</div>
