{{extend 'layout.html'}}

<br><br><br>
<div class="container" style="letter-spacing: 2px" >
  <div class="panel panel-primary" style="text-align: center">
    <div class="panel-heading lead text-uppercase" style="letter-spacing: 8px;">Create Contest</div>
    <div class="panel-body text-info">
	    <form method="POST" action="addcontest">
			<div>
				<table class="table table-striped">
					<tr>
						<td>Give Contest a Name</td>
						<td><input class="form-control string" id="ocj_contests_ContestName" name="contestName" type="text" value="" autocomplete="off" required  pattern=".{6,}" title="6 characters minimum"></td>
						<td></td>
					</tr>
					<tr>
						<td>Start Time</td>
						<td><input class="form-control datetime" id="ocj_contests_StartTime" name="startTime" type="text" value="" autocomplete="off" required></td>
						<td></td>
					</tr>
					<tr>
						<td>End Time </td>
						<td><input class="form-control datetime" id="ocj_contests_EndTime" name="e										ndTime"type="text" value="" required></td>
						<td></td>
					</tr>
				</table>
				<button class="border-style: solid;  border-radius:0px">Create the Contest</button>
			</div>
		</form>
	</div>
</div>





