

<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<title>Code Spardha</title>
	<meta name="description" content="Twitter Bootstrap Parallax Tutorial with HTML5 / CSS3 / JavaScript">
	<meta name="author" content="Untame.net">

	<link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<script src="../static/js/jquery-1.6.1.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/init.js"></script>

	<style type="text/css">
		#home { 
			background: url(../static/images/home.jpg) 80% 0 fixed; 
			height: auto;  
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		    box-shadow: 0 0 50px rgba(0,0,0,0.8);
		    padding: 200px 0;
		}

		/* Non-essential demo stuff */
		.hero-unit {
			background-color: #fff;
		    box-shadow: 0 0 20px rgba(0,0,0,0.1);
		}
		.media-object { width: 64px; height: 64px; padding-bottom: 30px }
	</style>

</head>

<body>
	<!-- Section #2 -->

	<section id="home" data-speed="4" data-type="background">
		<div class="container">
				<div class="row-fluid" style="align-center">
					<div class="span12 col-md-12 pull-left text-center " style="margin-top:-13%; font-size:700%; text-shadow: 8px 8px 32px #000; letter-spacing:8px; ">
			        	Code Spardha
			        </div><!-- /.span4 -->
			        <br>
			        <br>
			        <br>
			        <div class="span6 well col-md-5 pull-left">
			          <h2>Login</h2>
		          	<p>Already Have Account ?? We challenge you! </p>
		          	<p><a class="btn btn-success" href="/OCJ/default/user/login?_next=/OCJ/default/contests">Login &raquo;</a></p>
		        	</div><!-- /.span4 -->
		        	<div class="span6 well col-md-5 pull-right">
		          <h2>SignUp</h2>
		          <p>Don't Have Account?? You challenge others!!</p>
		          <p><a class="btn btn-success" href="/OCJ/default/user/register">SignUp &raquo;</a></p>
		        </div><!-- /.span4 -->
	    	</div>
	    </div>
	</section>



</body>

</html>
