{{extend 'layout.html'}}


<h2 class="box">
	My Submissions
</h2>

<br>
<div class="box sidebar_inner controls well well-small" align="center">
	<table class="table">
		<tr bgcolor="#98AFC7">
			<th>
				Problem Name
			</th>
			<th>
				Submission Time
			</th>
			<th>
				Result
			</th>
		</tr>
		{{for row in rows:}}
			<tr>
				 <td>{{=row.questionName}}</td>
            	<td>{{=row.submissionTime}}</td>
            	<td>
            		<script type="text/javascript">
                        if (document.getElementById("loader").childNodes.length == 0) 
                        {
                            if("{{=row.submissionResult}}" == "Evaluating")
                            {
                                var elem = document.createElement("img");
                                elem.setAttribute("height", "20");
                                elem.setAttribute("width", "20");
                                document.getElementById("loader").appendChild(elem);
                                elem.src = '../static/images/loader.gif';
                            }
						}
					</script>
					<div id="loader"></div>
	            	{{=row.submissionResult}}
            	</td>
			</tr>
		{{pass}}
	</table>
</div>
